section.projects-section {
    flex-direction: column;
    padding: 0 var(--edge-space);
    display: grid;
    justify-content: center;
    gap: 10px;
}

.card {
    border: 1px solid rgba(93, 188, 252, 0.3);
    max-width: 300px;
    border-radius: 7px;
    transition: .3s ease-in;
}

.card:hover {
    border: 1px solid var(--blue);
    animation-name: rotatecard;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes rotatecard {
    from {
        transform: rotate(1deg);
    }

    to {
        transform: rotate(-1deg);
    }
}

.card {
    font-size: .8rem;
}

.card img {
    border-radius: 7px;
}

.box {
    padding: 1rem .5rem;
}

.card h3,
.card p {
    margin: 0;
    margin-bottom: 12px;
}

.card h3 {
    font-size: 1.2rem;
}

.card p {
    font-size: .7rem;
    letter-spacing: 1px;
    line-height: 1rem;
}

.card .icon {
    font-size: .99rem;
    margin-right: 10px;
}

.links {
    justify-content: space-between;
}

.links>a,
.links>a .icon {
    color: var(--blue);
}

.links>a {
    display: flex;
    width: 57px;
    justify-content: space-between;
}

.links>a .icon {
    font-size: .8rem;
    align-self: flex-end;
}