section.contact-us {
    padding: 0 var(--edge-space);
}

section.contact-us .animation {
    display: none;
}

section.contact-us h1 {
    align-items: center;
    margin-bottom: .5rem;
}

section.contact-us .icon {
    font-size: 1.8rem;
    margin-right: .8rem;
}

section.contact-us p {
    color: var(--subtitle);
    margin-top: 0;
    line-height: 1.4rem;
}

section.contact-us form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 1rem;
}

section.contact-us form>div {
    flex-direction: column;
    width: 100%;
}

section.contact-us label {
    color: var(--subtitle);
    font-size: 1rem;
    margin-bottom: .5rem;
}

section.contact-us input,
section.contact-us textarea {
    font-size: 1rem;
    font-family: inherit;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63, 63, 70);
    color: white;
    outline: none;
    border-radius: 5px;
    width: 100%;
    height: 2.5rem;
    text-indent: 15px;
    transition: .3s;
    max-width: 600px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

section.contact-us input:hover,
section.contact-us input:focus,
section.contact-us textarea:hover,
section.contact-us textarea:focus {
    border: 1px solid rgb(45, 212, 191);
}

section.contact-us textarea {
    min-height: 9rem;
    resize: none;
    padding-block: 15px;
}

section.contact-us form button {
    background-color: rgb(36, 37, 46);
    border: 1px solid rgb(63, 63, 70);
    border-radius: 3px;
    padding: 1rem 2.4rem;
    font-weight: 500;
    letter-spacing: .6px;
    cursor: pointer;
    text-align: center;
}

@media(min-width:600px) {
    section.contact-us form button {
        align-self: center;
    }
}

section.contact-us form button:hover {
    border: 1px solid rgb(45, 212, 191);
}

@media(min-width:700px) {
    section.contact-us .animation {
        display: block;
    }

    section.contact-us form {
        max-width: 900px;
    }

    section.contact-us form>div {
        flex-direction: row;
        gap: 20px;
    }

    section.contact-us input,
    section.contact-us textarea {
        font-size: .9rem;
    }
}