section.hero {
    margin-top: 3rem;
    text-align: center;
    /* grid-template-columns: 2em 2fr 1fr 2em; */
}

section.hero .avatar-section {
    display: flex;
    align-items: flex-end;
}

.avatar-container img.avatar {
    min-width: 100px;
    width: 20%;
    border-radius: 50%;
    border: 1px solid rgba(244, 165, 96, 0.781);
}

.right-section {
    display: none;
}