section.hero {
    margin-top: 1.5rem;
    text-align: center;
    display: grid;
    padding: 0 var(--edge-space);
    justify-content: center;
    align-items: center;
    /* border: 1px solid magenta; */
}

section.hero>* {
    /* border: 1px solid magenta; */
}

section.hero .avatar-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.avatar-container img.avatar {
    min-width: 100px;
    width: 20%;
    border-radius: 50%;
    border: 1px solid rgba(244, 165, 96, 0.781);
}

section.hero .icon-verified {
    color: var(--blue);
}

section.hero .title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: .3rem;
    /* color: rgba(244, 165, 96, 0.925); */
    color: var(--title);
}

section.hero p {
    font-size: .8rem;
    line-height: 1.2rem;
    letter-spacing: 1px;
    max-width: 280px;
    margin: 0 auto;
    color: var(--subtitle);
}

.right-section {
    display: none;
    border: 1px solid magenta;
}

.social-media {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 8%;
}

.icon {
    color: var(--subtitle);
    font-size: 1.5rem;
}

.icon:hover {
    color: var(--icon-hover);
}


@media(min-width:680px) {
    section.hero {
        grid-template-columns: 2fr 1fr;
        text-align: initial;
    }

    section.hero .avatar-container {
        justify-content: flex-start;
    }

    section.hero .title {
        font-size: 2.4rem;
    }

    section.hero p {
        margin: 0;
        max-width: 600px;
        font-size: 1rem;
    }

    .right-section {
        display: block;
    }

    .social-media {
        justify-content: flex-start;
        gap: 20px;
        margin-left: 3px;
    }
}