header.flex {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header.flex nav {
    background-color: var(--bg-header);
    padding: .9rem 2.9rem;
    border-radius: 55px;
    box-shadow: 1px 1px 2px rgba(99, 84, 84, .55);
}


header ul.flex {
    gap: 16px;
    margin: 0;
    padding: 0;
}

header ul li a {
    color: var(--title);
    opacity: .9;
    font-size: .88rem;
    font-weight: 500;
}

header ul li a:hover {
    color: var(--blue);
    opacity: 1;
    font-size: .9rem;
    font-weight: 500;
}

header button.menu,
header button.switch {
    background-color: var(--bg-header);
    width: 2.5rem;
    text-align: center;
    color: var(--subtitle);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    scale: 1.1;
    border: 1px solid rgba(244, 165, 96, 0.249);
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
}

header button.menu:hover,
header button.switch:hover,
header button.menu:focus,
header button.switch:focus {
    border: 1px solid rgba(244, 165, 96, 0.781);
}

header button.switch {
    font-size: 1.4rem;
    border-radius: 50%;
    margin-top: -1rem;
}

header button.menu {
    font-size: 1.3rem;
    display: none;
    z-index: 5;
    transition: all .2s;
    border-radius: 50%;
}

header button.menu:hover {
    color: var(--blue);
}

/* Media Queries */

@media(max-width: 700px) {
    header.flex {
        padding: 1rem 1.4rem;
    }

    header.flex nav {
        position: fixed;
        border-radius: 0;
        margin: 0;
        inset: 0 30% 0 0;
        box-shadow: none;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transition: all 350ms ease-in;
        -webkit-transition: all 350ms ease-in;
        -moz-transition: all 350ms ease-in;
        -ms-transition: all 350ms ease-in;
        -o-transition: all 350ms ease-in;
    }

    header.flex nav.open-nav {
        transform: translateX(0);
    }

    header ul.flex {
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
        padding: 0;
        margin-top: 5rem;
    }

    header ul li a {
        color: var(--title);
        opacity: .9;
        font-size: 1.4rem;
    }

    header ul li a:hover {
        font-size: 1.6rem;
    }

    header button.menu {
        display: inline-block;
    }

    header button.switch {
        margin: 0;
    }
}